<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASbj_2zCh3r7Pd58dmMlRy1EMdbvpyKAg</string>
	<key>GCM_SENDER_ID</key>
	<string>61848603918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendenceTrackingApp</string>
	<key>PROJECT_ID</key>
	<string>attandencetrac</string>
	<key>STORAGE_BUCKET</key>
	<string>attandencetrac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61848603918:ios:8a43c899aa7bd218f71b5f</string>
</dict>
</plist>